body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background-color: #A4A5AE;
  }
  .header {
    align-items: center;
    background-color: #BEEDD4;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
  .header__img {
    display: flex;
    align-items: flex-start;
  }