body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background-color: #A4A5AE;
  }
  .header {
    align-items: center;
    background-color: #BEEDD4;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
  }
  .header__img {
    display: flex;
    align-items: flex-start;
  }
  .login{
    background:linear-gradient(#BEEDD4,#A4A5AE);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .login__container{

  }
  .login__container--form{

  }
  .login__container--social-media{
    
  }
  .login__container--register{

  }
  .footer{

  }